In [6]:
import csv
from cs50 import SQL
open("Project.db", "w").close()
db=SQL("sqlite:///Project.db")
db.execute("CREATE TABLE Student(id INTEGER, StuName TEXT, age INT, sex TEXT,telephone INT, PRIMARY KEY(id))")
db.execute("CREATE TABLE Link(member_id INTEGER, faculty_id INTEGER, PRIMARY KEY(faculty_id), FOREIGN KEY(member_id) REFERENCES Student(id))")
db.execute("CREATE TABLE Faculty(RegNo INTEGER, Programme TEXT, Time INT, PRIMARY KEY(RegNo), FOREIGN KEY(RegNo) REFERENCES Link(faculty_id))")
db.execute("CREATE TABLE Finance(AccNo INTEGER, fees_id INT, Fees INT, PRIMARY KEY(AccNo), FOREIGN KEY(AccNo) REFERENCES Link(faculty_id))")

with open("School.csv",  "r") as file:
    reader = csv.DictReader(file)
    for row in reader:
        StuName = row["Name"].strip().capitalize()
        sex = row["Sex"].strip().capitalize()
        age = row["Age"].strip().capitalize()
        telephone = row["Moblie No"].strip().capitalize()
        Time = row["Year"].strip().capitalize()
        Programme = row["Academic Programme"].strip().capitalize().split(" , ")
        id = db.execute("INSERT INTO Student (StuName, age, sex, telephone) VALUES(?, ?, ?, ?)", StuName,age,sex,telephone)
        #for Programme in row["Academic Programme"].split(", "):
           # Programme=Programme.strip().capitalize()
       
        id1=db.execute("INSERT INTO Link(member_id) VALUES((SELECT id FROM Student WHERE StuName=?))" , StuName)
        db.execute("INSERT INTO Faculty (RegNo, Programme,Time) VALUES((SELECT member_id FROM Link WHERE member_id=?),?,?)" , id1, Programme,Time)
            #Finance section
        for Fees in row["Tution"].split(" , "):
            Fees = Fees.strip().capitalize()
            db.execute("INSERT INTO Finance(AccNo,Fees) VALUES((SELECT member_id FROM Link WHERE member_id=?),?)", id1, Fees)